doctype html
html(lang=language)
	head
		title template
		link(rel='icon', type='image/png', sizes='32x32', href='/app/images/logo.png')
	body
		#app

		script(src='/app/vendor.js')
		script(src='/app/app.js')

